:root{
    --main-color:#38B7EB;
    --second-color:#2876D4;
    --button-color1:#28D0D4;
    --button-color2:#2FF6C2;

    --gradient: linear-gradient(
      90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 47%, rgba(2,176,232,1) 100%, rgba(0,212,255,1) 100%
    );
}


html {
  scroll-behavior: smooth;
}






body{
  font-family: 'Inter', sans-serif;
  font-size: 62.5%;
}

.container{
    height: 100%;
}
/*NAVBAR*/
.navbar{
  width:100%;
  height:3rem;
  background: var(--second-color);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-image: var(--gradient);
  background-size: 400%;
  animation: bg-animation 5s infinite alternate;
}

.button{
  margin-top: 3rem;
  text-align: center;
  width: 5rem;
  height: 3rem;
  font-size: 1rem;
  transition: all 0.3s;
}

.button:hover{
  color: var(--button-color2);
  font-size: 2rem;
}

a{
  text-decoration: none;
  color: white;
}

.button-special{
  display: flex;
  flex-direction: row;
  width: 10rem;
  height: 4rem;
  background-color: var(--button-color2);
  color: #f5b916;
  font-size: 1.2rem;
  text-align: center;
  justify-content: center;
  border-radius: 30px;
  transition: all 0.8s;
}

.b{
    margin-left: 0.2rem;
}

.button-special:hover{
  color: var(--button-color1);
  background: white;
}

.button-special:hover .b{
  margin-left: 0.4rem;
  font-size: larger;
}
.space{
  width: 5%;
}

@media screen and (min-width:500px) {

  .button{
      width: 7rem;
      font-size: 1.5rem;
  }
  
}
/*NAVBAR-END*/

/*INTODRUCTION*/
.introduction{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 42rem;
  background-image: var(--gradient);
  background-size: 400%;
  animation: bg-animation 5s infinite alternate;
}

@keyframes bg-animation {
  0% {background-position: left;}
  100%{background-position: right;}
}

.introduction-header{
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 5rem;
}
.introduction-text{
  font-size: 2.5rem;
}

@media screen and (min-width:700px) {

 .introduction{
  height: 48rem;
}
}


@media screen and (min-width:360px) and (max-width: 800px){

  .introduction{
   height: 32rem;
   
 }
 }
/*INTODRUCTION-END*/

/*CONTENT*/

    /*SLIDER*/
    .visuallyhidden {
        position: absolute;
        z-index: -1;
        right: 0;
        opacity: 0;
        
      }
      
   
      .container-1 {
        overflow: hidden;
        padding: 20px;
        margin-top: 2em;
       
      }
      
      .card-carousel {
        --card-width: 80%;
        --card-max-width: 380px;
        --card-height: 350px;
        --carousel-min-width: 600px;
        z-index: 1;
        position: relative;
        margin: 0 auto;
        width: 100%;
        height: var(--card-height);
        min-width: var(--carousel-min-width);
        transition: filter .3s ease;
      }
      
      @media screen and (max-width: 640px) {
        .card-carousel {
          margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2)
        }
      }
      
      .card-carousel.smooth-return {
        transition: all .2s ease;
      }
      
      .card-carousel .card {
        background: whitesmoke;
        width: var(--card-width);
        max-width: var(--card-max-width);
        text-align: center;
        min-width: 250px;
        height: var(--card-height);
        position: absolute;
        margin: 0 auto;
        color: rgba(0,0,0,.5);
        transition: inherit;
        -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
        border-radius: 1em;
        filter: brightness(.9);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.3rem;
      }
      
      .card.highlight {
        filter: brightness(1)
      }
      
      
      .card:nth-of-type(1) .image-container {
          background-image: url("https://www.racefans.net/wp-content/uploads/2020/11/201114-Hamilton-7xchampion-1920x1280-1.jpg");
      }
       
      .card:nth-of-type(2) .image-container {
        background-image: url("https://ecsmedia.pl/c/mr-bad-guy-b-iext122720338.jpg")
      }
      
      .card:nth-of-type(3) .image-container {
        background-image: url("https://i.iplsc.com/1/000A3TCZ9JY741QN-C321-F4.jpg")
      }
      .card:nth-of-type(4) .image-container {
        background-image: url("https://i2-prod.football.london/incoming/article24750003.ece/ALTERNATES/s1200b/0_Manchester-United-captain-Harry-Maguire.jpg")
      }
      .card:nth-of-type(5) .image-container {
        background-image: url(" https://s.lubimyczytac.pl/upload/authors/58013/207994-352x500.jpg ")
      }
      
      
      
      .image-container {
        width: 10em;
        height: 10em;
        font-size: 1rem;
        position: relative;
        background-size: cover;
        margin-bottom: 2em;
        border-radius: 100%;
        padding: 1em;
        -webkit-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
      -moz-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
      box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
        
      }
      
      .image-container::after {
        content: "";
        display: block;
        width: 120%;
        height: 120%;
        border: solid 3px rgba(0,0,0,.1);
        border-radius: 100%;
        position: absolute;
        top: calc(-10% - 3px);
        left: calc(-10% - 3px);
      }
      
      h2 {
        padding: 1em;
        margin-top: 1em;
        background: rgba(0,0,0,.3);
        text-align: center;
        color: white;
        border-radius: .2em;
        display: inline-block;
        transform: translateX(calc((100vw - 100%) / 2))
      }
      
      h2 a {
        color: #f5b916
      }




    /*SLIDER-END*/

    /*INFO*/
    .info-all{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .info-bg1{
      background: var(--main-color);
  }

  .info-bg2{
      background: #005DB6;
  }
  .info{
    height: 40rem;
      grid-area: info;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows:0.5fr,1fr;
      grid-template-areas: ". info"
      "animation text";
      width: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
     
  }
  .info-header{
      grid-area: info;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 2rem;

  }
  .info-text{
      grid-area: text;
      font-size: 1rem;

  }

  .animation{
      grid-area: animation;
      width: 5rem;
      height: 5rem;
      background: greenyellow;
      animation-name: animation;
      animation-duration: 4s;
      animation-delay: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-out;
      animation-direction:alternate;
      
  }

  .info-img{
    grid-area: animation;
    width: 10rem;

  }

  @keyframes animation{
      0%{
          transform: scale(1);
          width: 5rem;
          height: 5rem;
          background: greenyellow;
      }

      25%{
          transform: rotate(45deg);
          background: var(--button-color2);
          border-radius: 50%;
      }

      50%{
          transform: rotate(45deg);
          background: #28D0D4;
          border-radius: 100%;
      }

      100%{
          transform: rotate(0deg);
      }
  }

  @media screen and (min-width:500px) {

    .animation{
      margin-left: 50%;
    }

    .info{
      height: 30rem;
    }

    .info-img{
      margin-left: 10rem;
    }
      
  }


  @media screen and (min-width:1200px) {

    .info-img{
      margin-left: 20rem;
    }



  }
    /*INFO-END*/



/*CONTENT-END*/

/*FOOTER*/
footer{
  width: 100%;
  height: 10rem;
  background: var(--second-color);
}

/*FOOTER-END*/