:root{
    --main-color:#A2A685;
    --second-color:#0460D9;
    --button-color1:#117CD9;
    --button-color2:#274001;
    --color:#F2F2F2;
}
html{
  /*62.5% of 16px = 10px*/
  font-size: 62.5%;
  font-family: 'Poppins', bold;
 

}
/*BLocks*/
.block{
  width: 100%;
  height: 70rem;
}
.block-skewed{
  background-color: #A2A685;
  clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 85%);
}

/*Navbar*/

.navbar{
  display: flex;
  flex-direction: row;
  background-color: #A2A685;
  height: 10rem;
  align-items: center;
  justify-content:flex-end;
}

.space{
  width: 16%;
}
/*Buttons*/



.btn{
  text-align: center;
  margin: 0 2rem;
  font-size: 1.4rem;
  cursor: pointer;
  text-transform: uppercase;
}

/*Grids*/

.grid{
  padding-top: 2rem;
  display: grid;
}

.grid_1x2{
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.grid img{
  margin: auto;
}

.grid .learn-more{
  margin-left: 5rem;
  padding-top: 6rem;
 
}
img{
  width: 100%;
  
}


